<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="NLog.Targets.Splunk" />
  </extensions>
  <variable name="MicrosoftLevel" 
    value="${level:lowercase=true:truncate=4:when=level==LogLevel.Info or level==LogLevel.Warn}${when:when=level==LogLevel.Error:inner=fail}${when:when=level==LogLevel.Fatal:inner=crit}${when:when=level==LogLevel.Debug:inner=dbug}${when:when=level==LogLevel.Trace:inner=trce}" />
  <variable name="MicrosoftLayout" 
    value="${MicrosoftLevel}: ${logger}[${event-properties:EventId_Id:whenEmpty=0}]${newline}      ${message}${onexception:inner=${newline}${exception:format=tostring}}" />
  <targets async="true">
    <target xsi:type="SplunkHttpEventCollector"
            name="splunk"
            serverUrl="http://localhost:8088"
            token="e44a67a6-08d6-4cec-9be0-36d5c24b6dff"           
            includeMdlc="true"
            includeEventProperties="true"            	                 
            >
		<contextproperty name="host" layout="${machinename}" />
		<contextproperty name="threadid" layout="${threadid}" />
		<contextproperty name="logger" layout="${logger}" />
	</target>    
    <target name="console" xsi:type="Console" layout="${MicrosoftLayout}" writeBuffer="true" />   
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="splunk" />
    <logger name="*" minlevel="Debug" writeTo="console" />
  </rules>
</nlog>