@page
@model IndexModel
@{}

<!-- HEADER -->
<div class="jumbotron jumbotron-fluid crf-hero d-flex">
    <div class="container d-flex flex-column justify-content-center align-items-sm-stretch align-items-md-center">
        <h1 class="col-sm-12">GET A GRIP</h1>
        <h2>20% OFF</h2>
        <p class="lead">THROUGHOUT THE SEASON</p>
    </div>
</div>

<!-- SALE BANNER -->
<div class="container crf-cigar-banner">
    <div class="row orange-border">
        <a href="/CurrentPromotion">
        <div class="crf-cigar-banner--container d-flex justify-content-center align-items-center">
            <img alt="Brown Boots" class="order-sm-0 order-md-0" src="https://www.pluralsight.com/content/dam/pluralsight2/teach/author-tools/carved-rock-fitness/img-brownboots.jpg">
            <div class="crf-cigar-banner--text order-sm-2 order-md-1">
                <div class="text-light">Couples retreat weekend</div>
                <div class="text-secondary">Save an extra 20%</div>
                <div class="text-primary">when you buy 2 pairs of boots</div>
            </div>
            <img alt="Grey Boots" class="order-sm-1 order-md-2" src="https://www.pluralsight.com/content/dam/pluralsight2/teach/author-tools/carved-rock-fitness/img-greyboots.jpg">
        </div>
        </a>        
    </div>    
</div>

<!-- STORIES -->
<div class="container crf-story">
    <div class="row">
        <div class="col-lg-3 col-md-6"><a href="#">
            <div class="crf-story--image"><img alt="Splash Chic" src="https://www.pluralsight.com/content/dam/pluralsight2/teach/author-tools/carved-rock-fitness/story-1.jpg" /></div>
            <div class="crf-story--text">
                <h3>Splash Chic</h3>
                <div>Women's Wet Gear</div>
            </div></a>
        </div>
        <div class="col-lg-3 col-md-6"><a href="#">
            <div class="crf-story--image"><img alt="Kid Klimbers" src="https://www.pluralsight.com/content/dam/pluralsight2/teach/author-tools/carved-rock-fitness/story-2.jpg" /></div>
            <div class="crf-story--text">
                <h3>Kid Klimbers</h3>
                <div>Children's Gear</div>
            </div></a>
        </div>
        <div class="col-lg-3 col-md-6"><a href="#">
            <div class="crf-story--image"><img alt="Pack It In" src="https://www.pluralsight.com/content/dam/pluralsight2/teach/author-tools/carved-rock-fitness/story-4.jpg" /></div>
            <div class="crf-story--text">
                <h3>Pack It In</h3>
                <div>Camping Gear</div>
            </div></a>
        </div>
        <div class="col-lg-3 col-md-6"><a href="#">
            <div class="crf-story--image"><img alt="Nature's AC" src="https://www.pluralsight.com/content/dam/pluralsight2/teach/author-tools/carved-rock-fitness/story-3.jpg" /></div>
            <div class="crf-story--text">
                <h3>Nature's AC</h3>
                <div>Men's Shorts</div>
            </div></a>
        </div>
    </div>
</div>
